<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="./css/fonts.css">
      <link rel="stylesheet" href="./css/main.css">
      <script src="https://www.gstatic.com/charts/loader.js"></script>
      <title>Project Report</title>
   </head>

   <body onload="init()">

     <script src="./js/charts/chart_line.js"></script>
     <script src="./js/charts/chart_bar.js"></script>

     <script type="text/javascript">
       function init() {
         google.charts.load('44',{packages:['corechart']});
         setTimeout(function(){

           
        draw_line_chart("issues_chart", "issues", "Analyses", "Quantity", [[1, 82, 82], [2, 22, 22], [3, 17, 17], [4, 17, 17], [5, 3, 3]]);
    

           
        draw_bar_chart("severity_chart", "severity", [['INFO', 0, '#4287f5', 0],['MINOR', 0, '#b0d513', 0],['MAJOR', 2, '#DD6971', 2],['CRITICAL', 1, '#d02f3a', 1],['BLOCKER', 0, '#96222A', 0]]);
    
        draw_bar_chart("type_chart", "type", [['CODE_SMELL', 2, '#4287f5', 2],['BUG', 1, '#DD6971', 1],['VULNERABILITY', 0, '#96222A', 0]]);
    
        draw_bar_chart("status_chart", "status", [['OPEN', 3, '#4287f5', 3],['CONFIRMED', 0, '#2A77F4', 0],['REOPENED', 0, '#0C61E9', 0],['RESOLVED', 14, '#0A51C2', 14],['CLOSED', 65, '#08409B', 65]]);
    
        draw_bar_chart("resolution_chart", "resolution", [['FALSE-POSITIVE', 5, '#4287f5', 5],['WONTFIX', 9, '#2A77F4', 9],['FIXED', 65, '#0C61E9', 65],['REMOVED', 0, '#0A51C2', 0]]);
    


         }, 1000);
       }

     </script>

    <div class="header">
      <picture>
         <source srcset="./images/logo_websolute.webp" type="image/webp">
         <img id="logo" src="./images/logo_websolute.png" type="image/png">
      </picture>

      <div class="title">
        <h1>SonarQube report</h1>
        <h2>Project: <span>BOM-TEST</span></h2>
      </div>

    </div>

    <div class="body">
      <table>
        <tr>

          <td class="data">
            <table class="ratings">
              <caption>Ratings</caption>

              <tbody>
                

            <tr>
                <td class="rating-name">Reliability</td>
                <td><span class="rating rating-C">C</span></td>
                <td class="rating-criterion">Bug:</td>
                <td class="rating-criterion">at least 1 major</td>
            </tr>

        

            <tr>
                <td class="rating-name">Security</td>
                <td><span class="rating rating-A">A</span></td>
                <td class="rating-criterion">Vulnerabilities:</td>
                <td class="rating-criterion">0</td>
            </tr>

        

            <tr>
                <td class="rating-name">Security Review</td>
                <td><span class="rating rating-E">E</span></td>
                <td class="rating-criterion">Reviewed Security Hotspots:</td>
                <td class="rating-criterion">< 30%</td>
            </tr>

        

            <tr>
                <td class="rating-name">Maintainability</td>
                <td><span class="rating rating-A">A</span></td>
                <td class="rating-criterion">Technical Debt Radio:</td>
                <td class="rating-criterion">< 5%</td>
            </tr>

        
              </tbody>
            </table>

            <table class="hotspots">
              <caption>Security Hotspots</caption>

              <tbody>
                  
        <tr>
            <th>Fixed</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Safe</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Acknowledged</th>
            <td>0</td>
        </tr>
        <tr>
            <th>To review</th>
            <td>5</td>
        </tr>
        
              </tbody>
            </table>
          </td>

          <td class="charts">
            <table>
              <caption>Charts</caption>

              <tbody>
                <tr><td><h6>Issues quantity history</h6></td></tr>
                <tr><td><div class="chart" id="issues_chart"></div></td></tr>
                <tr><td><h6>Quantities for each group of issues</h6></td></tr>
                <tr><td><div class="chart" id="type_chart"></div></td></tr>
                <tr><td><div class="chart" id="status_chart"></div></td></tr>
                <tr><td><div class="chart" id="resolution_chart"></div></td></tr>
                <tr><td><div class="chart" id="severity_chart"></div></td></tr>
              </tbody>
            </table>
          </td>


        </tr>
      </table>
    </div>
   </body>
</html>
